<style>
    .mytb { width: 78%; margin-top: 35px; }
        .mytb .tit { width: 12%; text-align: right; padding-right: 15px; vertical-align: top; height: 70px; padding-top: 10px; }
        .mytb .con { width: 37%; vertical-align: top; }
        .mytb .con1 { padding-top: 10px; padding-bottom: 10px; }
    .error { color: #a94442; }
    .input-vc { width: 70%; display: inline-block; }
    .img-vc { margin-left: 10px; }
    .btn-vc { width: 25%; margin-left: 10px; }
</style>
<div class="main-content" ng-controller="BindMobileController">
    <h4 class="des border-b">
        {{'绑定手机号'|translate}}
    </h4>
    <form name="myForm" id="myForm" role="form" class="form-horizontal" on-submit="onSubmit()" form-validate>
        <table border="0" class="mytb form-group">
            <tr>
                <td class="tit" style="width:15%">{{'手机号'|translate}}</td>
                <td class="con">
                    <input type="text" id="Mobile" class="form-control" placeholder="请输入您的手机号" ng-model="Data.Mobile" validate="{required:true,messages:{required:'请输入您的手机号'}}" />
                </td>
            </tr>
            <tr>
                <td class="tit">{{'验证码'|translate}}</td>
                <td class="con">
                    <input type="text" id="VerificationCode" class="form-control input-vc" ng-model="VerificationCode" placeholder="请输入图片验证码" validate="{required:true,messages:{required:'请输入验证码'}}" />
                    <img id="imgLoginVerify" class="img-vc" ng-click="refreshVerifyCode()" ng-src="{{VerificationCodeSrc}}" />
                    <label for="VerificationCode" class="error"></label>
                </td>
            </tr>
            <tr>
                <td class="tit">{{'短信验证码'|translate}}</td>
                <td class="con" colspan="2">
                    <input type="text" class="form-control input-vc" name="CheckCode" ng-model="Data.CheckCode" placeholder="请输入手机验证码" validate="{required:true,messages:{required:'请输入手机验证码'}}" />
                    <input type="button" class="btn btn-default btn-vc" id="msgVerifyCodBtn" ng-click="sendSmsInfo()" value="获取验证码" />
                    <label for="CheckCode" class="error"></label>
                </td>
            </tr>
        </table>

        <div class="form-group text-center" style="margin-top:50px;">
            <input class="btn btn-success" id="btnSubmit" type="submit" value="{{'确定'|translate}}" />
            <button type="button" ng-click="onBack()" class="btn btn-default">{{'btnBack'|translate}}</button>
        </div>
    </form>
</div>