<div class="main-content" ng-controller="ChangePasswordController">
    <h4 class="des border-b">
        {{'lblChangePassword'|translate}}
    </h4>
    <br />
    <form  name="myForm" id="myForm" role="form" class="form-horizontal" on-submit="onSubmit()" form-validate>
        <div class="form col-md-10 form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3" for="OldPassword">{{'lblOldPassword' | translate}}：</label>
                <span class="col-md-9"><input type="password" class="form-control" id="OldPassword" name="OldPassword" ng-model="Data.OldPassword" validate="{required:true,messages:{required:'旧密码不能为空！'}}" /></span>
            </div>

            <div class="form-group">

                <label class="control-label col-md-3" for="NewPassword">{{'lblNewPassword' | translate}}：</label>
                <span class="col-md-9"><input type="password" class="form-control" id="NewPassword" name="NewPassword" ng-model="Data.NewPassword"  validate="{required:true,maxlength:20,minlength:6,messages:{required:'新密码不能为空！',minlength:'新密码格式不正确，必须大于等于6位和小于等于18位的字母或数字！',maxlength:'新密码格式不正确，必须大于等于6位和小于等于18位的字母或数字！'}}" /></span>

            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="ConfirmPassword">{{'lblComfirmPassword' | translate}}：</label>
                <span class="col-md-9"><input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" ng-model="Data.ConfirmPassword" validate="{required:true,equalTo:'#NewPassword',messages:{required:'确认密码不能为空！',equalTo:'两次输入密码不一致!'}}" /></span>

            </div>
           
            <div class="form-group">
                <span class="col-md-9 col-md-offset-3"><input class="btn base" type="submit" value="{{'btnSave' | translate}}" /></span>
            </div>
        </div>
    </form>
</div>