
<div class="main-content" ng-controller="FeedbacksController">
    <style type="text/css">
        .wordbreak {
            word-break: break-all; /*支持IE，chrome，FF不支持*/
            word-wrap: break-word; /*支持IE，chrome，FF*/
        }
        @media screen and (max-width: 1200px) and (min-width: 1024px) {
            .wordbreak {
                text-align: center;
            }
            .text-style1 {
                display: inline-block;
                max-width: 210px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    </style>
    <h4 class="des border-b">
        {{'意见反馈'|translate}}
    </h4>
    <br />
    <form class="form-horizontal" ng-submit="onSearch()">
        <div class="search-ban">
            <div class="col-date-search">
                <input type="text" class="form-control" id="Keyword" ng-model="Keyword" placeholder="{{'lblInserKey' | translate}}">
            </div>
            <div class="col-date-search">
                <button class="btn base" type="submit" style="padding:5px 10px;">{{'btnSearch' | translate}}</button>
            </div>
            <div class="col-date-search" style="margin-right:10px;">
                <button class="btn base" type="button" ng-click="onAdd()">{{'btnAdd' | translate}}</button>
            </div>
            <div class="div-clear"></div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-6">{{'功能/模块名称'|translate}}</th>
                    <th class="col-sm-2">{{'反馈时间'|translate}}</th>
                    <th class="col-sm-2">{{'回复时间'|translate}}</th>
                    <th class="col-sm-2" style="text-align:center">{{'lblOperator'|translate}}</th>
                </tr>
            </thead>
            <tbody ng-show="ListItems == null || ListItems.length == 0">
                <tr>
                    <td colspan="4">{{'msgNoData'|translate}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-repeat="item in ListItems">
                    <td class="wordbreak"><span class="text-style1">{{item.Subject}}</span></td>
                    <td>{{item.CreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{item.ReplyTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td style="text-align:center">
                        <button class="btn btn-sm base" ng-click="showDetail(item.UserFeedbackID)">{{'MyPatient-lblViewDetails' | translate}}</button>
                        <button class="btn btn-sm btn-danger" ng-click="onDelete(item.UserFeedbackID)">{{'btnDelete' | translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--分页控件-->
        <pager-nav page-list="[5,10,20,25]"
                   page="CurrentPage"
                   page-Size="pageSize"
                   total-Count="totalCount" on-change="onSearch()" />

    </form>
</div>