.mask-bg {
  -webkit-backface-visibility: hidden;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.9;
  -webkit-animation: nvfadeInDown 1s .1s ease both;
  -moz-animation: nvfadeInDown .3s .1s ease both;
}
/*文字大小*/
/*文字颜色*/
/*默认颜色*/
/*边框颜色*/
/*输入框*/
/*按钮*/
/* 添加图标 */
.morning,
.afternoon,
.nigth {
  position: relative;
  padding-bottom: 20px !important;
}
.morning .add-wrap,
.afternoon .add-wrap,
.nigth .add-wrap {
  position: absolute;
  width: 100%;
  bottom: 4px;
  left: 0;
  text-align: center;
  visibility: hidden;
}
.morning:hover .add-wrap,
.afternoon:hover .add-wrap,
.nigth:hover .add-wrap {
  visibility: visible;
}
#addSchedules .table-wrap {
  font-size: 14px;
  margin-top: 20px;
}
#addSchedules .table-wrap .begin,
#addSchedules .table-wrap .end {
  width: 70px;
}
#addSchedules .table-wrap th,
#addSchedules .table-wrap td {
  text-align: center;
}
#addSchedules .table-wrap .time {
  width: 45px;
}
#addSchedules .table-wrap .bg {
  background-color: #EDEFF5;
}
#addSchedules .table-wrap .control-select {
  width: auto !important;
}
#addSchedules .table-wrap .form-control {
  background-color: none;
  border: none;
}
#addSchedules .table-wrap .num {
  display: inline-block;
  width: 32px;
  text-align: center;
  padding: 4px;
  border: none;
}
#addSchedules .table-wrap .scheNum .addSche,
#addSchedules .table-wrap .scheNum .reduceSche {
  padding: 4px;
  vertical-align: middle;
  cursor: pointer;
  visibility: hidden;
}
#addSchedules .table-wrap .scheNum:hover .addSche,
#addSchedules .table-wrap .scheNum:hover .reduceSche {
  visibility: visible;
}
#addSchedules .table-wrap .set-wrap .set {
  border-radius: 3px;
  display: inline-block;
  width: 66px;
  height: 28px;
  line-height: 28px;
  margin-right: 8px !important;
  background-color: #0accce;
  color: #fff;
  text-align: center;
}
.potion {
  cursor: pointer;
}
.icon {
  position: relative;
}
.icon:before {
  overflow: hidden;
  margin-top: -3px;
  display: inline-block;
  content: ' ';
  speak: none;
  vertical-align: middle;
}
.icon-date:before {
  width: 22px;
  height: 22px;
}
.icon-add:before {
  margin-right: 12px;
  width: 16px;
  height: 16px;
  background: url('/static/images/schedules/new.png') no-repeat 0 0;
}
.laydate-icon {
  background-image: url(/static/images/schedules/date.png) !important;
  background-position: 110px center !important;
}
#space .search-ban .form-control {
  width: 140px !important;
}
.plr-10 {
  padding: 0 10px;
}