/*body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}*/
@media screen and (max-width: 1025px) {
  #healthStation .content {
    width: 998px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #healthStation .content {
    width: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  #healthStation .content {
    width: 1200px;
  }
}
#healthStation {
  margin-top: 120px;
  margin-bottom: -54px;
  background: #fff;
}
#healthStation div {
  box-sizing: border-box;
}
#healthStation .content {
  margin: 0 auto;
  padding: 20px;
  border: none;
}
#healthStation .content .calendar-box {
  float: left;
  width: 50%;
}
#healthStation .content .calendar-box #fullCalendar {
  float: left;
  width: 100%;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  color: #333;
}
#healthStation .content .calendar-box #fullCalendar .fc-toolbar {
  padding: 5px 0;
  background: #3a87ad;
  color: #fff;
}
#healthStation .content .calendar-box #fullCalendar .fc-toolbar .fc-button {
  font-size: 14px;
  border: none;
  background: #3a87ad;
  color: #fff;
  box-shadow: none;
}
#healthStation .content .calendar-box #fullCalendar .fc-toolbar .fc-center h2 {
  line-height: 30px;
  font-size: 18px;
}
#healthStation .content .calendar-box .schedule-options-box {
  position: relative;
  float: left;
  padding: 20px 150px 20px 0;
  width: 100%;
  text-align: left;
  /*p {
                font-size: 14px;
                color: #666;
                input {
                    margin: 0;
                    vertical-align: middle;
                }
            }*/
}
#healthStation .content .calendar-box .schedule-options-box h4 {
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 16px;
  color: #333;
}
#healthStation .content .calendar-box .schedule-options-box .fc-event {
  float: left;
  display: inline-block;
  margin: 0 10px 10px;
  padding: 0 15px;
  line-height: 30px;
  background: #3a87ad;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
#healthStation .content .calendar-box .schedule-options-box .showOwn {
  position: absolute;
  top: 20px;
  right: 0;
  max-width: 150px;
  font-weight: bold;
  color: #3a87ad;
  text-align: right;
}
#healthStation .content .calendar-box .schedule-save-box {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}
#healthStation .content .calendar-box .schedule-save-box .schedule-save-btn {
  margin: 0 auto;
  width: 270px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #3a87ad;
  color: #fff;
}
#healthStation .content .calendar-box .schedule-save-box .schedule-save-btn:hover {
  cursor: pointer;
}
#healthStation .content .calendar-box .schedule-save-box p {
  font-size: 14px;
  color: #888;
}
#healthStation .content .patient-infor-box {
  float: right;
  padding: 0 40px;
  width: 50%;
  text-align: left;
}
#healthStation .content .patient-infor-box .patientName {
  margin: 0 0 10px;
}
#healthStation .content .patient-infor-box .patient-history {
  margin-bottom: 20px;
  width: 100%;
  border: #e7e7e7;
}
#healthStation .content .patient-infor-box .patient-history h3 {
  margin: 0;
  padding-left: 10px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #3a87ad;
  font-size: 16px;
  color: #3a87ad;
}
#healthStation .content .patient-infor-box .patient-history .patient-content {
  margin: 0;
  padding: 10px;
  width: 100%;
}
#healthStation .content .patient-infor-box .physical-examination-data {
  width: 100%;
}
#healthStation .content .patient-infor-box .physical-examination-data h3 {
  padding-left: 10px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #3a87ad;
  font-size: 16px;
  color: #3a87ad;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-lists {
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
  width: 100%;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-lists li {
  position: relative;
  float: left;
  display: inline-block;
  margin-right: 10px;
  list-style: none;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-lists li.active {
  color: #3a87ad;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-lists li:before {
  position: absolute;
  content: "";
  top: 10%;
  left: -5px;
  width: 1px;
  height: 80%;
  background: #333;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-lists li:nth-child(1):before {
  width: 0;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-lists li:hover {
  color: #3a87ad;
  cursor: pointer;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-box {
  position: relative;
  margin: 10px 0 20px;
  width: 100%;
  height: 300px;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-box .chang-icon {
  position: absolute;
  top: 135px;
  z-index: 5;
  width: 24px;
  height: 24px;
  line-height: 20px;
  border: 2px solid #666;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  color: #666;
  vertical-align: middle;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-box .chang-icon:hover {
  cursor: pointer;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-box .prev-chart {
  left: 3px;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-box .next-chart {
  right: 3px;
}
#healthStation .content .patient-infor-box .physical-examination-data .chart-box .chart-main {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  /*&>div {
                        background: #fff;
                    }*/
}