<div class="mask preview_mask"></div>
<div class="img_preview_container" id="preview_container" ng-class="{loading: !isLoaded}" ng-style="containerStyle">
    <div class="img_container" id="img_container">
        <div class="img_wrp" id="img_dom">
            <!-- webkit 的 transform 有导致不 reflow 的bug，强行改变其子元素来强制reflow-->
            <span ng-if="reflowFlag"></span>
            <img class="rotate{{rotateDeg}}" ng-show="isLoaded" id="img_preview" />
            <a href="javascript:" ng-click="actions.close();" class="img_preview_close" title="关闭"><i class="web_wechat_close-window"></i></a>
        </div>
    </div>
    <div class="img_opr_container" id="img_opr_container">
        <ul class="img_opr_list">
            <li class="img_opr_item">
                <a ng-click="actions.prev()" href="javascript:" title="查看上一个">
                    <i class="web_wechat_left" ng-class="{'web_wechat_left_disable': current <= 0}"></i>&nbsp;
                </a>
            </li>
            <li class="img_opr_item">
                <a download href="{{imageList[current].url + '?fun=download'}}" title="下载图片">
                    <i class="web_wechat_download"></i>&nbsp;
                </a>
            </li>
            <li class="img_opr_item" ng-hide="isIE">
                <a ng-click="actions.rotate()" href="javascript:" title="旋转图片">
                    <i class="web_wechat_turn"></i>&nbsp;
                </a>
            </li>
            <li class="img_opr_item">
                <a ng-click="actions.next()" href="javascript:" title="查看下一个">
                    <i class="web_wechat_right" ng-class="{'web_wechat_right_disable': current >= imageList.length - 1}"></i>&nbsp;
                </a>
            </li>
        </ul>
    </div>
</div>
